{% extends "chess_website/layouts.html" %}
{% load static %}


{% block body %}
  <div class="heading">
    <h1>{{error}}</h1>
    <h1>Openings</h1>
    <img src="{% static 'chess_website/images/openings_icon.png' %}" alt="chess openings">
  </div>

  <div>
    <p>Type in your chess.com username to get your top 5 openings.</p> 
  </div>

  <div>
    <form action="/openings" method="POST">
      {% csrf_token %}
        <input name="name" autofocus="true">
        <button>Submit</button>
    </form>
  </div>

  <div>
    <ol>
      {% for opening in top_5 %}
        <li>{{opening.0}}, {{opening.1}}</li>
      {% endfor %}
    </ol>
  </div>

{% endblock %}
