{% extends "chess_website/layouts.html" %}
{% load static %}

{% block body %}
<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-8">

      <div class="foreground heading text-center p-5">
        <h1>Chessinreview! <img src="{% static 'chess_website/images/chess_icon.png'  %}" alt="" class="img-fluid"></h1>
      </div>

      <div class="foreground p-5">
        <p>Welcome to chessinreview.com! This is a website where you can get some fun facts about your chess.com account like your win rate and most played openings.</p>

        <p>Use the navigation bar at the top of the page to go to the different parts of the website. In the "Profile" page, you will get some information about your chess.com profile and your ratings. In the "Openings" page you will get your top 5 most played openings.</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
