{% extends "chess_website/layouts.html" %}
{% load static %}


{% block body %}
  <div class="heading">
    <h1>{{error}}</h1>
    <h1>Profile</h1>
    <img src="{% static 'chess_website/images/profile_icon.png'  %}" alt="profile icon">
  </div>

  <div>
    <p>Type in your chess.com username to get your profile.</p>
  </div>

  <div>
    <form action="/profile" method="POST">
      {% csrf_token %}
      <input name="name" autofocus="true">
      <button>Submit</button>
    </form>
  </div>

  <div>
    {% if year %}
      <p>You made your chess.com account on {{year}}.</p>
    {% endif %}

    {% if country %}
      <p>You are based in {{country}}.</p>
    {% endif %}
    
    {% for key, value in ratings.items %}
      <p>{{key}}: {{value.0}}</p>

      {% if key == "Blitz" %}
        <img src="{% static 'chess_website/images/blitz_icon.png'  %}" alt="blitz time control icon">
      {% endif %}

      {% if key == "Rapid" %}
        <img src="{% static 'chess_website/images/rapid_icon.png'  %}" alt="blitz time control icon">
      {% endif %}

      {% if key == "Bullet" %}
        <img src="{% static 'chess_website/images/bullet_icon.png'  %}" alt="blitz time control icon">
      {% endif %}

      <p>For {{key}} you won {{value.1.0}}% of your games, lost {{value.1.1}}% of your games, and drew {{value.1.2}}% of your games.</p>
    {% endfor %}
    
  </div>

{% endblock %}
