body {
    background-color: #3B3B3B;
}

.foreground {
    background-color: #272623 !important;
    color: white;
}

.text-sm {
    font-size: 0.8em;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}